*{
    padding: 0;
    margin: 0;
}
nav{
    background-color: rgb(213, 217, 221);
}
ul{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
ul li{
    align-items: center;
    border: 2px solid #9e9d9d;
    margin: 2px 30px;
    list-style: none;
    padding: 5px;
    box-shadow: 2px 2px rgb(137, 135, 135), -1em 0 .4em rgb(191, 191, 175);
}
h1{
    text-align: center;
    margin-top: 3rem;
}
.bg_color{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}
.button{
    width: 8rem;
    height: 3rem;
    margin: 2px;
}
#red{
    background-color: red;
}
#green{
    background-color: green;
}
#blue{
    background-color: blue;
}
#black{
    background-color: black;
}
h3{
    text-align: center;
    margin-top: 4rem;
}